<ion-view view-title="Account" name="Settings">

    <ion-content class="padding">
        <div class="bar bar-header bar-calm">
            <h1 class="title">Settings</h1>
        </div>
        <br>
        <br>
        <div class="list">


            <a class="item" href="#">
    View profile
  </a>
            <a class="item" href="#update">
    Update profile
  </a>
            <a class="item" href="#delete">
    Delete account
  </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <button class="button button-block button-assertive padding-horizontal icon-left" ng-click="go()">Logout</button>

    </ion-content>
</ion-view>