<ion-view view-title="MedConnect" name="login-view" >
    
  <ion-content class="padding">
      <div class="bar bar-header bar-calm">
  <h1 class="title">Delete</h1>
</div>
      
      <br><br>
      <div class="list list-inset">
          <h3>Delete Account</h3>
          <label class="item item-input"> 
              <input type="text" placeholder="Username" ng-model="data.username">
              
          </label>
          
        
          <label class="item item-input"> 
               <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
<button class="button button-outline  button-positive" ng-click="deleteaccount()">Delete Account</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <br> <br> <br> <br>
       <div>
       <a class="subdue" href="#/tab/Settings"> Back</a></div>  
         
  </ion-content>
</ion-view>