<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view view-title="MedConnect" name="Homeview" >
<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

  <!-- Dashboard Tab -->
 

  <!-- Chats Tab -->
   <ion-tab title="View Appointments" icon-off="ion-android-time" icon-on="ion-android-time" href="#/doctortab/docappointments">
    <ion-nav-view name="docappointments"></ion-nav-view>
  </ion-tab>
     <ion-tab title="Profile" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/doctortab/employee-profile">
    <ion-nav-view name="doctortab-employee"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
 <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/doctortab/docaccount">
    <ion-nav-view name="doctortab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>

