<ion-view view-title="MedConnect Home">

    <ion-content has-header="true" padding="true">
        <div class="item-input-inset">
            <label class="item-input-wrapper">

                <input id="searchKey" type="text" placeholder="Doctors Search" ng-model="searchKey" autocorrect="off">

            </label>
            <button class="button button-clear" ng-click="search(searchKey)">Search</button>
            <button class="button button-clear" ng-click="clearSearch()">Clear</button>
        </div>
        <br>
        <ion-list>
            <ion-item ng-repeat="employee in employees" type="item-text-wrap" class="item-avatar" href="#/employees/{{employee.id}}">
                <img src="pics/{{employee.id}}.jpg" /> {{employee.firstname}} {{employee.lastname}}
                <p>{{employee.specialization}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>