<ion-view title="employee.firstName + ' ' + employee.lastName">
  <ion-content has-header="true" padding="true">

      <div class="details">
          <img src="pics/{{employee.id}}.jpg" width="100" height="100"/>
          <h4>{{ employee.firstname }} {{ employee.lastname }}</h4>
          <p>{{ employee.specialization }}<br/>
          {{ employee.city }}</p>
      </div>
      
      
			<div class="list card">
                
               
	       
            <a class="item item-icon-left" href="#" on-tap="opendateModal()" ><i class="icon ion-calendar"></i>Select date<p><input type="text" placeholder="selected date" ng-model="selecteddate"></p></a>
                <a class="item item-icon-left" href="#" ><i class="icon ion-clock"></i>Select Time<p>
               
        <select ng-model="hour" placeholder="hour"> 
      <option>09</option>
      <option >10</option>
      <option>11</option>
      <option>12</option>
      <option>01</option>
      <option>02</option> 
     <option>03</option>
      <option>04</option>
      <option>05</option>
    </select>
          <label>: :</label>
            <select ng-model="minute"> 
           <option >00</option>
      <option>30</option>
                  </select>
            <select ng-model="AM"> 
           <option>AM</option>
      <option>PM</option>
                  </select></p></a>
              
         <button class="button button-block button-positive" ng-click="confirm(selecteddate,hour,minute,AM)">
           Schedule
          </button>
        </div>
	       
            
	    </div>
      <div class="list card">
          <a class="item item-icon-left" href="#/employee/{{employee.managerId}}" ><i class="icon ion-ios7-person"></i>View Manager<p>{{employee.hname}}</p></a>
          <a class="item item-icon-left" href="#/employee/{{employee.id}}/reports"><i class="icon ion-person-stalker"></i>Qualifications<p>{{employee.qualification}}</p></a>
          <a class="item item-icon-left" href="tel:{{employee.officePhone}}"><i class="icon ion-ios-telephone"></i>Call Office<p>{{employee.phone}}</p></a>
          <a class="item item-icon-left" href="tel:{{employee.cellPhone}}"><i class="icon ion-ios-telephone"></i>Call Cell<p>{{employee.phone}}</p></a>
          <a class="item item-icon-left" href="sms:{{employee.cellPhone}}"><i class="icon ion-chatbox-working"></i>SMS<p>{{employee.haddress}}</p></a>
          <a class="item item-icon-left" href="mailto:{{employee.email}}"><i class="icon ion-ios-email"></i>Email<p>{{employee.email}}</p></a>
      </div>

  </ion-content>
</ion-view>
